body {
    font-size:16px;
    margin:5% 10%;
}

h1, h3 {
    text-align:center;
    margin:0 0 15px 0;

}

.all-columns {
    align-items:flex-start;
    display:flex;
    flex-direction:row;
    width:100%;
}

.left-column {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:25%;
}

.testive-logo {
    border:solid 1px blue;
    height:250px;

}


.revenue {
    display:block;
    float:left;
    border:solid 1px blue;
    height:250px;
}

.happiness-number {
    display:block;
    float:left;
    border:solid 1px blue;
    height:250px;
}

.middle-column-wrapper{
    flex-direction:column;
    width:50%;
}

.middle-column {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.important-dates {
    border:solid 1px blue;
}

.total-calls-placeholder {
    border:solid 1px blue;
    width:480px;
    height:400px;
}

.total-sales-placeholder {
    border:solid 1px blue;
    width:480px;
    height:400px;
}

.gauge-calls {
    height:90px;
    width:180px;
    border-radius: 120px 120px 0 0;
    border: solid 9px blue;
    border-bottom: none;
    margin:0 auto;
}

.gauge-sales {
    height:90px;
    width:180px;
    border-radius: 120px 120px 0 0;
    border: solid 9px blue;
    border-bottom: none;
    margin:0 auto;
}

.gauge-stylus {
    background-color:blue;
    border-radius:90px 90px 90px 90px;
    height:25px;
    margin:0 auto;
    position: relative;
    width:25px;
}

.gauge-stylus:before {
   content:"";
   position: absolute;
   right: 100%;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 105px solid red;
   border-bottom: 13px solid transparent;
}


.sales-breakdown {
    flex-direction:row;
    border:solid 1px blue;
    display:flex;
    justify-content: space-between;
    padding: 2% 15%;
}

.facebook-column {
    display:flex;
    flex-direction:column;
}

.facebook-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.organic-column {
    display:flex;
    flex-direction:column;
}

.organic-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.promo-column {
    display:flex;
    flex-direction:column;
}

.promo-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.modal-column {
    display:flex;
    flex-direction:column;
}

.modal-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.right-column {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:25%;
}
.coaching-students {
    display:block;
    border:solid 1px blue;
    float:left;
    height:250px;
}

.coach-load {
    display:block;
    float:left;
    border:solid 1px blue;
    height:250px;
}

.effort-grade {
    display:block;
    float:left;
    border:solid 1px blue;
    height:250px;
}
