body {
    font-size:16px;
}

h1, h3 {
    text-align:center;
}

.all-columns {
    align-items:flex-start;
    display:flex;
    flex-direction:row;
}

.left-column {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.important-dates {
    display:block;
    border:solid 1px blue;
    float:left;
    width:250px;
    height:250px;
}

.revenue {
    display:block;
    float:left;
    border:solid 1px blue;
    width:250px;
    height:250px;
}

.middle-column-wrapper{
    flex-direction:column;
}

.middle-column {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.total-calls-placeholder {
    border:solid 1px blue;
    width:480px;
    height:400px;
}

.total-sales-placeholder {
    border:solid 1px blue;
    width:480px;
    height:400px;
}

.gauge-calls {
    height:90px;
    width:180px;
    border-radius: 120px 120px 0 0;
    border: solid 9px blue;
    border-bottom: none;
    margin:0 auto;
}

.gauge-sales {
    height:90px;
    width:180px;
    border-radius: 120px 120px 0 0;
    border: solid 9px blue;
    border-bottom: none;
    margin:0 auto;
}

.gauge-stylus {
    background-color:blue;
    border-radius:90px 90px 90px 90px;
    height:25px;
    margin:0 auto;
    position: relative;
    width:25px;
}

.gauge-stylus:before {
   content:"";
   position: absolute;
   right: 100%;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 105px solid red;
   border-bottom: 13px solid transparent;
}


.sales-breakdown {
    align-items:flex-start;
    border:solid 1px blue;
    display:flex;
}

.facebook {
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.organic {
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.promo {
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.modal {
    width:100px;
    height:100px;
    border-radius:50%;
    border:solid 1px blue;
    margin:0 auto;
}

.right-column {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.coaching-students {
    display:block;
    border:solid 1px blue;
    float:left;
    width:250px;
    height:250px;
}

.coach-load {
    display:block;
    float:left;
    border:solid 1px blue;
    width:250px;
    height:250px;
}

.effort-grade {
    display:block;
    float:left;
    border:solid 1px blue;
    width:250px;
    height:250px;
}

.happiness-number {
    display:block;
    float:left;
    border:solid 1px blue;
    width:250px;
    height:250px;
}
