body {
    color: #2c3e50;
    font-family: 'robotolight';
    font-size:16px;
    margin:5% 10%;
}

h1, h2, h3 {
    text-align:center;
    margin:0 0 15px 0;
}

.all-columns {
    align-items:flex-start;
    display:flex;
    flex-direction:row;
    width:100%;
}

.left-column {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:20%;
}

.testive-logo {
    background-color: white;
    border:solid 1px #2c3e50;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}


.revenue {
    display:block;
    padding:15px 0;
    /*height:250px;*/
}

.revenue-numbers {
    background-color: white;
    border:solid 1px #2c3e50;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}

.happiness {
    display:block;
    padding:15px 0 25px 0;
    /*height:250px;*/
}

.happiness-numbers {
    background-color: white;
    border:solid 1px #2c3e50;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}

.middle-column-wrapper{
    align-self: flex-end;
    border-left:solid 4px #1abc9c;
    border-right: solid 4px #1abc9c;
    flex-direction:column;
    width:60%;
}

.middle-column {
    background-color: #1abc9c;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.important-dates {
    height:400px;
}

.total-calls-placeholder {
    color:white;
    margin:5%;
    width:480px;
}

.total-sales-placeholder {
    color:white;
    margin:5%;
    width:480px;
}

.gauge-calls {
    height: 125px;
    width: 240px;
    border-radius: 180px 180px 0 0;
    border: solid 10px white;
    border-bottom: none;
    margin:0 auto;
}

.gauge-sales {
    height: 125px;
    width: 240px;
    border-radius: 180px 180px 0 0;
    border: solid 10px white;
    border-bottom: none;
    margin:0 auto;
}

.gauge-stylus {
    background-color:white;
    border-radius:90px 90px 90px 90px;
    height:25px;
    margin:0 auto;
    position: relative;
    width:25px;
}

.gauge-stylus:before {
   content:"";
   position: absolute;
   right: 100%;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 105px solid white;
   border-bottom: 13px solid transparent;
}


.sales-breakdown {
    flex-direction:row;
    display:flex;
    justify-content: space-between;
    padding: 25px 15%;
}

.facebook-column {
    display:flex;
    flex-direction:column;
}

.facebook-numbers {
    background-color: #f58b1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:100px;
    height:100px;
    border-radius:50%;
    margin:0 auto;
}

.organic-column {
    display:flex;
    flex-direction:column;
}

.organic-numbers {
    background-color: #f58b1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    font-size: 40px;
    border-radius:50%;
    margin:0 auto;
}

.promo-column {
    display:flex;
    flex-direction:column;
}

.promo-numbers {
    background-color: #f58b1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    font-size: 40px;
    border-radius:50%;
    margin:0 auto;
}

.modal-column {
    display:flex;
    flex-direction:column;
}

.modal-numbers {
    background-color: #f58b1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:100px;
    height:100px;
    border-radius:50%;
    margin:0 auto;
}

.right-column {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:20%;
}
.coaching-students {
    display:block;
    float:left;
    height:250px;
}

.coaching-students-numbers {
    background-color: white;
    border:solid 1px #2c3e50;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}

.coach-load {
    display:block;
    float:left;
    height:250px;
}

.coach-load-numbers {
    background-color: white;
    border:solid 1px #2c3e50;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}

.effort-grade {
    display:block;
    float:left;
    height:250px;
}

.effort-grade-numbers {
    background-color: white;
    border:solid 1px #2c3e50;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width:150px;
    height:150px;
    border-radius:50%;
    margin:0 auto;
}
